name: All packages - Lint & Types
on:
  pull_request:
jobs:
  types_and_lint:
    runs-on: macos-latest
    steps:
      - name: checkout
        uses: actions/checkout@v4
      - name: Use Node.js 18
        uses: actions/setup-node@v4
        with:
          node-version: 22.x
          cache: "yarn"
      - name: Install deps
        run: brew install swift-format xcbeautify
      - name: Install ktlint
        run: |
          curl -sSLO https://github.com/pinterest/ktlint/releases/download/1.7.1/ktlint
          chmod a+x ktlint
          sudo mv ktlint /usr/local/bin/
      - name: Install node dependencies
        run: yarn
      - name: Build Types
        run: yarn build
      - name: Check types
        run: yarn tsc
      - name: Lint
        run: yarn lint:check
